.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    bottom: 15px;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
}

h1.topheader {
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
    top: 15px;
}

.qrcodes {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    width: 33%;
    gap: 5px;
    flex: 1;
}

.flex-item {
    flex: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

small {
    background: rgba(0, 23, 188, 0.1);
}

.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px 5px;
}

/* .laundryphotos {
    height: 400px;
    width: 600px;
} */

#photos {
    max-width: 50%;
    max-height: 25%;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
    .flex-item {
      flex: 100%;
    }
  }
